.navbar-default {
	background-color: #5cb85c;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default a:hover.navbar-brand {
	color: white;
}

.navbar-default a {
	color: white;
}

.navbar-default .nav-pills a:hover {
	background-color: transparent;
}

.btn {
	border-radius: 0;
}

input.form-control {
	border-radius: 0;
}

a {
	color: #333;
}

a:hover {
	color: #ff7f0e;
}